@* This is the view for the home page. *@

@{
    @* ViewData["Title"] is used to set the title of the page. *@
    ViewData["Title"] = "Home Page";
}

@* This is the main content area for the home page. *@
<div class="text-center">
    <h1 class="display-4">Welcome to DotNet Bookstore</h1>
    <p>We're learning ASP.NET Core MVC in Summer 2026 at Georgian College.</p>
</div>

@* You can add additional content on the home page. *@
