@* This is the view for the privacy policy page. *@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy. </p>

@* You can add additional content on the privacy policy page. *@
